@@include('layout/_head.html')

<!-- page-container -->
<div class="page__container">
	@@include('layout/_header.html', {})
	
	<!-- page-content -->
	<main class="page__content">
		<section class="section banner">
			<div class="banner__bg">
				<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E" 
				     data-src="images/main-bg.png" 
				     data-srcset="images/main-bg@2x.png 2x, images/main-bg@3x.png 3x"
				     alt="background" class="banner__bg-img js-fit" data-lazy="">
			</div>
			
			<div class="section__wrp banner__wrp">
				<div class="banner__box">
					<h1 class="banner__heading heading heading_type_h1">
						WE SOLVE <br />
						YOUR PROBLEMS
					</h1>
				</div>
				
				<div class="banner__box">
					<p class="banner__caption caption caption_size_l">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit. Ut gravida id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
					</p>
				</div>
			</div>
		</section>
		
		<section class="section tiles tiles_linked">
			<div class="section__wrp tiles__wrp">
				<h2 class="section__heading">
					Etiam ac nisl ac quam sodales scelerisque elementum quis purus.
				</h2>
				
				<div class="tiles__list grid grid_h_center grid_wrap">
					<div class="tiles__item">
						<a href="/#tile-1" class="tiles__item-link">Learn More</a>
						
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_01.png"
								     data-srcset="images/icons/icon_01@2x.png 2x"
								     alt="microscope" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">Donec efficitur molestie</div>
							
							<div class="tiles__item-caption caption caption_size_s">Nulla pretium nunc in nulla placerat, sit amet porttitor enim ullamcorper. Curabitur ex erat, euismod ac vestibulum vel, viverra non lorem.</div>
							
							<div class="tiles__item-link-text caption caption_size_s">Learn More</div>
						</div>
					</div>
					
					<div class="tiles__item">
						<a href="/#tile-2" class="tiles__item-link">Learn More</a>
						
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_02.png"
								     data-srcset="images/icons/icon_02@2x.png 2x"
								     alt="building" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">
								Mauris interdum venenatis
							</div>
							
							<div class="tiles__item-caption caption caption_size_s">
								Vivamus cursus ante eu orci rutrum, vitae viverra ante dapibus. Vivamus porta molestie turpis, quis elementum nisi egestas eget.
							</div>
							
							<div class="tiles__item-link-text caption caption_size_s">Learn More</div>
						</div>
					</div>
					
					<div class="tiles__item">
						<a href="/#tile-3" class="tiles__item-link">Learn More</a>
						
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_03.png"
								     data-srcset="images/icons/icon_03@2x.png 2x"
								     alt="house" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">
								Cras sit amet
							</div>
							
							<div class="tiles__item-caption caption caption_size_s">
								Fusce suscipit, ante at imperdiet vehicula, ex augue feugiat enim, sed faucibus sem tortor quis turpis. Mauris lacinia neque id augue efficitur, ut feugiat massa efficitur.
							</div>
							
							<div class="tiles__item-link-text caption caption_size_s">Learn More</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="section tiles">
			<div class="section__wrp tiles__wrp">
				<h2 class="section__heading">
					Etiam ac nisl ac quam sodales scelerisque elementum quis purus.
				</h2>
				
				<div class="tiles__article article">
					<p>
						Integer bibendum turpis sit amet pretium commodo. Cras justo elit, dapibus at viverra non, dapibus vitae est. Morbi facilisis mi non iaculis porttitor. Phasellus a nibh a lacus dignissim pharetra. Vivamus ullamcorper finibus mauris, sit amet volutpat enim sollicitudin sed.
					</p>
				</div>
				
				<div class="tiles__list grid grid_h_center grid_wrap">
					<div class="tiles__item">
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_04.png"
								     data-srcset="images/icons/icon_04@2x.png 2x"
								     alt="magnifier" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">Proin felis eros</div>
							
							<div class="tiles__item-caption caption caption_size_s">Iverra sed eros id, eleifend maximus tortor</div>
						</div>
					</div>
					
					<div class="tiles__item">
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_05.png"
								     data-srcset="images/icons/icon_05@2x.png 2x"
								     alt="clock" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">
								Suspendisse potenti
							</div>
							
							<div class="tiles__item-caption caption caption_size_s">
								Vestibulum mi risus, aliquam vitae efficitur quis
							</div>
						</div>
					</div>
					
					<div class="tiles__item">
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_06.png"
								     data-srcset="images/icons/icon_06@2x.png 2x"
								     alt="folder" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">
								Fusce pretium enim
							</div>
							
							<div class="tiles__item-caption caption caption_size_s">
								Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim turpis
							</div>
						</div>
					</div>
					
					<div class="tiles__item">
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_07.png"
								     data-srcset="images/icons/icon_07@2x.png 2x"
								     alt="controller" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">Vivamus urna eros</div>
							
							<div class="tiles__item-caption caption caption_size_s">Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur. Phasellus commodo porttitor odio</div>
						</div>
					</div>
					
					<div class="tiles__item">
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_08.png"
								     data-srcset="images/icons/icon_08@2x.png 2x"
								     alt="paper" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">Maecenas congue nisi</div>
							
							<div class="tiles__item-caption caption caption_size_s">
								Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate
								<a href="/#arcu-nisi" class="tiles__item-caption-link">arcu nisi</a>
							</div>
						</div>
					</div>
					
					<div class="tiles__item">
						<div class="tiles__item-wrp">
							<div class="tiles__item-frame grid grid_v_center">
								<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2264%22%20height=%2264%22%3E%3C/svg%3E"
								     data-src="images/icons/icon_09.png"
								     data-srcset="images/icons/icon_09@2x.png 2x"
								     alt="scheme" class="tiles__item-img" data-lazy="">
								
								<span class="tiles__item-dummy"></span>
							</div>
							
							<div class="tiles__item-heading heading heading_type_h2">Nullam purus velit</div>
							
							<div class="tiles__item-caption caption caption_size_s">Praesent ac turpis sit amet ex euismod congue vitae sit amet risus</div>
						</div>
					</div>
				</div>
				
				<div class="tiles__footer">
					<a href="/#view-all-our-products" class="tiles__button button button_theme_main button_size_g">
						View All Our Products
					</a>
				</div>
				
				
			</div>
		</section>
		
		<section class="section about">
			<div class="section__wrp about__wrp">
				<h2 class="section__heading">
					Wordlwide recognition
				</h2>
				
				<div class="about__article article">
					<p>
						Integer bibendum turpis sit amet pretium commodo. Cras justo elit, dapibus at viverra non, dapibus vitae est.
					</p>
					
					<p>
						Fusce pretium enim sit amet elementum eleifend. Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim turpis, quis blandit justo nulla sed nisi. Vivamus urna eros, malesuada non massa sed, vestibulum maximus dui. Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur. Phasellus commodo porttitor odio, eu commodo nisi vehicula ut. Maecenas congue nisi lorem, et maximus ante vestibulum eu. Vivamus non imperdiet ex.
					</p>
				</div>
				
				<div class="about__gallery">
					<div class="about__gallery-grid grid grid_h_center grid_wrap">
						<a href="/#about-external-1" class="about__gallery-link" 
						   target="_blank" rel="nofollow noopener">
							<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2293%22%20height=%2287%22%3E%3C/svg%3E" 
							     data-src="images/gallery/image_01.png"
							     data-srcset="images/gallery/image_01@2x.png 2x"
							     alt="company_01" class="about__gallery-img"
							     width="93" height="87" data-lazy="">
						</a>
						
						<a href="/#about-external-2" class="about__gallery-link" 
						   target="_blank" rel="nofollow noopener">
							<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2294%22%20height=%2295%22%3E%3C/svg%3E" 
							     data-src="images/gallery/image_02.png"
							     data-srcset="images/gallery/image_02@2x.png 2x"
							     alt="company_02" class="about__gallery-img"
							     width="94" height="95" data-lazy="">
						</a>
						
						<a href="/#about-external-3" class="about__gallery-link" 
						   target="_blank" rel="nofollow noopener">
							<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%2294%22%20height=%22105%22%3E%3C/svg%3E" 
							     data-src="images/gallery/image_03.png"
							     data-srcset="images/gallery/image_03@2x.png 2x"
							     alt="company_03" class="about__gallery-img"
							     width="94" height="105" data-lazy="">
						</a>
						
						<a href="/#about-external-4" class="about__gallery-link" 
						   target="_blank" rel="nofollow noopener">
							<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%22102%22%20height=%2299%22%3E%3C/svg%3E" 
							     data-src="images/gallery/image_04.png"
							     data-srcset="images/gallery/image_04@2x.png 2x"
							     alt="company_04" class="about__gallery-img"
							     width="102" height="99" data-lazy="">
						</a>
						
						<a href="/#about-external-5" class="about__gallery-link" 
						   target="_blank" rel="nofollow noopener">
							<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%22190%22%20height=%2245%22%3E%3C/svg%3E" 
							     data-src="images/gallery/image_05.png"
							     data-srcset="images/gallery/image_05@2x.png 2x"
							     alt="company_05" class="about__gallery-img"
							     width="190" height="45" data-lazy="">
						</a>
					</div>
				</div>
			</div>
		</section>
	</main>
	<!-- /page-content -->
	
	@@include('layout/_footer.html', {})

</div>
<!-- /page-container -->

@@include('layout/_svg.html', {})

@@include('layout/_scripts.html', {})

@@include('layout/_foot.html', {})
