<footer class="page__footer footer">
	<div class="footer__wrp">
		<nav class="footer__nav nav">
			<ul class="nav__list nav__list_footer grid grid_h_center">
				<li class="nav__item">
					<a class="nav__link" href="/">PRIVACY POLICY</a>
				</li>
				
				<li class="nav__item">
					<a class="nav__link" href="/">ABOUT US</a>
				</li>
				
				<li class="nav__item">
					<a class="nav__link" href="/">SUPPORT</a>
				</li>
			</ul>
		</nav>
		
		<div class="footer__social">
			<a href="https://www.facebook.com/unitedtraders" 
			   target="_blank" rel="noopener" 
			   class="footer__social-link">
				<svg class="footer__social-svg svg svg_social svg_social-fb"><use xlink:href="#icon-fb"></use></svg>
			</a>
			
			<a href="https://twitter.com/UnitedTraders_1" 
			   target="_blank" rel="noopener" 
			   class="footer__social-link">
				<svg class="footer__social-svg svg svg_social svg_social-tw"><use xlink:href="#icon-tw"></use></svg>
			</a>
			
			<a href="https://www.instagram.com/unitedtraders_official" 
			   target="_blank" rel="noopener" 
			   class="footer__social-link">
				<svg class="footer__social-svg svg svg_social svg_social-ig"><use xlink:href="#icon-ig"></use></svg>
			</a>
		</div>
		
		<div class="footer__copyright heading heading_type_h3">
			Copyright © 1999 - 2019
		</div>
	</div>
</footer>
	
