<header class="page__header header js-header">
	<div class="header__wrp">
		<div class="header__grid grid grid_v_center">
			<div class="header__burger">
				<button class="header__burger-button js-burger-button">
					<svg class="header__burger-icon header__burger-icon_burger svg svg_burger"><use xlink:href="#icon-burger"></use></svg>
					<svg class="header__burger-icon header__burger-icon_close svg svg_close"><use xlink:href="#icon-close"></use></svg>
				</button>
			</div>
			
			<a href="/#home" class="header__logo">
				<img src="data:image/svg+xml;utf8,%3Csvg%20xmlns=%22http://www.w3.org/2000/svg%22%20xmlns:xlink=%22http://www.w3.org/1999/xlink%22%20version=%221.1%22%20width=%22249%22%20height=%2249%22%3E%3C/svg%3E"
				     data-src="images/logo.svg" 
				     width="249" height="49" alt="COMPANY NAME" 
				     class="header__logo-img" data-lazy="">
			</a>
			
			<nav class="header__nav nav grid grid_h_between">
				<ul class="header__menu nav__list nav__list_main grid">
					<li class="nav__item nav__item_parent">
						<a class="nav__link" href="/">
							Products
							<svg class="nav__arrow svg svg_arrow"><use xlink:href="#icon-arrow"></use></svg>
						</a>
						
						<ul class="nav__list nav__list_sub">
							<li class="nav__item">
								<a href="/" class="nav__link">Product 1</a>
							</li>
							
							<li class="nav__item">
								<a href="/" class="nav__link">Product 2</a>
							</li>
							
							<li class="nav__item">
								<a href="/" class="nav__link">Product 3</a>
							</li>
						</ul>
					</li>
					
					<li class="nav__item">
						<a class="nav__link" href="/">News & Events</a>
					</li>
					
					<li class="nav__item">
						<a class="nav__link" href="/">Support</a>
					</li>
					
					<li class="nav__item">
						<a class="nav__link" href="/">Contacts</a>
					</li>
				</ul>
				
				<ul class="nav__list nav__list_small grid">
					<li class="nav__item">
						<a class="nav__link nav__link_icon" href="/">
							Login
							<svg class="nav__login svg svg_login"><use xlink:href="#icon-login"></use></svg>
						</a>
					</li>
					
					<li class="nav__item">
						<a class="nav__link nav__link_icon" href="/">
							Buy Now
							<svg class="nav__buynow svg svg_buynow"><use xlink:href="#icon-buynow"></use></svg>
						</a>
					</li>
				</ul>
		    </nav>
		</div>
	</div>
</header>

